
body, h1, h2, p, button, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #91f7b3;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}



#loc {
  text-align: center;
  margin-bottom: 20px;
}

#loc button {
  background-color: #34db85;
  display:inline-block;
  width:30%;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#loc button:hover {
  background-color: #142f0f;
}

#location {
  margin-top: 10px;
  font-weight: bold;
}


button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #45a049;
}

.lists-container {
  display: flex;
  justify-content: space-between;
}

.list {
  flex: 1;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 10px;
}

.list h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.list div {
  margin: 10px 0;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
      margin: 20px;
  }
  
  input {
      width: 100%;
  }

  .lists-container {
      flex-direction: column;
  }

  .list {
      margin: 10px 0;
  }
}

